PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=awesome
DB_USER=root
DB_PASSWORD=your_mysql_password
JWT_ACCESS_SECRET=super_secret_access_key
JWT_REFRESH_SECRET=super_secret_refresh_key
REDIS_HOST=localhost
REDIS_PORT=6379
